#listings-list-container {
    margin-top: 13rem;
    padding: 0 4rem;
    height: 685px;
    overflow-y: auto;
}

#listings-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.listing-item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.listing-item-container img {
    border-radius: 10px;
    width: 265px;
    height: 251px;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.no-results-wrapper h2 {
    margin-bottom: 1.5rem;
}

.no-results-wrapper p {
    font-size: 17px;
}

.favourite-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    transition: 0.2s;
}

.favourite-btn:active {
    transform: scale(50%);
}

@media (max-width: 650px) {

    #listings-list-container {
        padding: 0 4rem;
    }

    #listings-list-wrapper {
        justify-content: center;
    }

    .listing-item-container {
        width: 100%;
    }

    .listing-item-container img {
        width: 100%;
    }
}