#listing-creation-container {
    position: relative;
}

#listing-creation-header {
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 2rem 4rem;
}

#logo {
    cursor: pointer;
}

#listing-creation-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 4rem;
    font-size: 17px;
    font-weight: bold;
}

.listing-creation-btn {
    font-size: 17px;
    font-weight: bold;
}

#back-btn {
    text-decoration: underline;
    padding: .5rem;
    border-radius: 5px;
}

#back-btn:hover {
    background-color: rgb(231, 231, 231);
}

#next-btn {
    border-radius: 5px;
    padding: .75rem 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#next-btn:hover {
    background-color: rgba(0, 0, 0, 1);
}

#next-btn:disabled {
    background-color: rgb(231, 231, 231);
    cursor: not-allowed;
}

#selection-container {
    height: 685px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
    overflow-y: auto;
}

.center-content-vertical {
    justify-content: center;
}

#categories-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 1rem;
    row-gap: 1rem;
}

.category-item {
    cursor: pointer;
    padding: 1rem 0 1rem 1rem;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.category-item:hover {
    border-color: black;
}

.category-item img {
    height: 45px;
    width: 45px;
}

.selected-category {
    border-color: black;
    background-color: rgb(212, 212, 212, 0.3);
}

#location-selection-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#location-selection-form input,
#location-selection-form select {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 600px;
    padding: 1.25rem .5rem;
    font-size: 15px;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input:placeholder-shown + label,
.input-wrapper select:placeholder-shown + label, 
label {
    position: absolute;
    transition: 0.2s;
    left: .5rem;
    transform-origin: 0;
    transform: translateY(100%);
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label,
.input-wrapper select:focus + label,
.input-wrapper select:not(:placeholder-shown) + label  {
    font-size: 11px;
    top: -10px;
}

#basic-info-selection-container {
    margin-top: 2rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 20px;
}

.counter-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.counter-input-wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.counter-btn {
    height: 40px;
    width: 40px;
    padding: .5rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

.counter-btn:hover {
    border-color: black;
}

.counter-btn:disabled {
    cursor: not-allowed;
}

@media (max-width: 950px) {

    #categories-wrapper {
        grid-template-columns: repeat(2, 200px);
    }

    #location-selection-form input,
    #location-selection-form select {
    width: 100%;
    }

    #basic-info-selection-container {
        width: 100%;
    }

}